*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Neutral Colors */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
  min-width: 375px;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}
