*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Neutral Colors */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
  min-width: 375px;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--white);
  background-image: url("../images/bg-pattern-top-mobile.svg"),
    url("../images/bg-pattern-bottom-mobile.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  margin: 5em auto;
  max-width: 1440px;
}

.header {
  text-align: center;
  padding-bottom: 1em;
}

.header__page-title {
  color: var(--very-dark-magenta);
  font-size: 2.5em;
  padding: 0 1em;
}

.header__intro {
  color: var(--dark-grayish-magenta);
  font-weight: 500;
  line-height: 1.4;
  padding: 0 1em;
}

.ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--light-grayish-magenta);
  padding: 1em 2em;
  border-radius: 0.5em;
  margin: 0.5em 0;
}

.rating-1__stars,
.rating-2__stars,
.rating-3__stars {
  display: flex;
  gap: 0.5em;
}

.rating__text {
  padding-left: 1em;
  color: var(--very-dark-magenta);
  font-weight: 700;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr minmax(3fr, 10em);
  grid-template-areas:
    "photo author-details"
    "body  body";
  min-width: 250px;
  max-width: 750px;
  background-color: var(--very-dark-magenta);
  color: white;
  font-weight: 500;
  margin: 1em;
  padding: 2em;
  border-radius: 1em;
}

.testimonial__image {
  grid-area: photo;
  border-radius: 50%;
  height: 3em;
}

.testimonial__header {
  grid-area: author-details;
}

.testimonial__author {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  padding-bottom: 0.5em;
}

.testimonial__status {
  font-weight: 500;
  color: var(--soft-pink);
}

.testimonial__quote {
  grid-area: body;
  font-weight: 500;
  margin: 0;
  padding: 2em 0 0 0;
  line-height: 1.6em;
}

@media (min-width: 740px) {
  body {
    background-size: 40%, 100% 30%;
  }

  .ratings,
  .testimonials {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1em;
  }

  .rating {
    width: 45%;
  }

  .testimonial {
    padding: 2em;
    width: 43%;
  }
}

@media (min-width: 920px) {
  body {
    background-image: url("../images/bg-pattern-top-desktop.svg"),
      url("../images/bg-pattern-bottom-desktop.svg");
  }

  .container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "header ratings"
      "testimonials testimonials";
    padding: 2em;
  }

  .header {
    grid-area: header;
    text-align: left;
  }

  .header__page-title {
    margin-top: 0;
    padding: 0;
  }

  .header__intro {
    padding: 0;
  }

  .ratings {
    grid-area: ratings;
    flex-direction: column;
    padding-top: 0;
  }

  .rating {
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding: 0;
    width: 95%;
  }

  .rating-1 {
    transform: translateX(-2em);
  }

  .rating-3 {
    transform: translateX(2em);
  }

  .testimonials {
    grid-area: testimonials;
    margin: 2em 0 0 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1em;
  }

  .testimonial {
    margin: 0;
    width: 33%;
  }

  .testimonial-2 {
    transform: translateY(2em);
  }
  .testimonial-3 {
    transform: translateY(4em);
  }
}
